/* Original Design: William Frankhouser, IT Web Data and Development Services */
/* Current Design: Thomas Dye, CSE Capstone */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
    margin: 9px 0;
}
blockquote: before, blockquote: after, q: before, q: after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
address {
    font-style: normal;
}


#search-results tr{
    border-bottom: solid 1px #eee;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
p,
div,
li {
    line-height: inherit;
}
ul,
ol {
    list-style-position: outside;
}

html {
    font-size: 12pt;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
    padding-top:2%;
}
h3 {
    font-size: 1.4em;
    padding-top: 2%;
}
h4 {
    font-size: 1.2em;
}
a {
    color: #900;
    text-decoration: none;
}
a: hover {
    color: #f40;
    text-decoration: underline;
}
img,
video {
    max-width: 100%;
    height: auto;
    text-align: right;
}
object,
embed {
    max-width: 100%;
    text-align: right;
}

/* BODY */

body {
    line-height: 1;
    color: #444;
}

/* ############################ HEADER ############################ */

/* HEADER-WRAP */

#header-wrap {
    margin: 0;
    padding: 0;
    background: #b00;
    color: #fff;
    font-size: 0.8em;


    width: 100%;
}
#header-wrap a {
    color: #fff;
    text-decoration: none;
}
#header-wrap a: hover {
    color: #ffc;
    text-decoration: underline;
}

/* HEADER-WRAP HEADER */

#header-wrap header{}

/* HEADER-WRAP HEADER TOP-BRAND */
#header-wrap header #top-brand {
    float: left;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
}
#header-wrap header #top-brand .top-logo {
    vertical-align: bottom;
    padding: 12px 0;
    width: 90%;
}

/* HEADER-WRAP HEADER QUICKLINKS */
#header-wrap header #top-quicklinks {
    float: right;
    padding: 3px 0;
    line-height: 1.5em;
    width: 100%;
}
#header-wrap header #top-quicklinks ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0;
}
#header-wrap header #top-quicklinks li {
    display: inline;
}
#header-wrap header #top-quicklinks li a {
    float: right;
    padding: 3px 9px;
}
#header-wrap header #top-quicklinks li a: hover {
    background-color: #900;
}

/* HEADER-WRAP NAVIGATION */

#header-wrap nav{}

/* HEADER-WRAP NAVIGATION MINI-NAV */
.mini-nav {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 4px 0;
    height: 30px;
    text-align: center;
}
.mini-nav select {
    float: left;
    width: 98%;
    padding: 3px 1%;
    margin-left: 1%;
    margin-right: 1%;
    background: #500;
    color: #fff;
    border: 0;
    font-size: 1.2em;
}
.mini-nav option {}#footer-wrap {
    clear: both;
    margin: 0;
    padding: 0;
    background: #444;
    color: #fff;
    min-height: 120px;
    font-size: 0.9em;
}

/* HEADER-WRAP NAVIGATION TOP-NAVIGATION */
#header-wrap nav{
	clear:both;
	z-index:999;
	background:#a90000;
	color:#fff;
	padding:0;
	margin:0px;
	border-top:1px solid #c00;
	border-bottom:1px solid #900;
	
    display:inline-block;
    min-width:100%;
}

#header-wrap nav #top-navigation {
    list-style-type: none;
    margin: 0;
}

#header-wrap nav #top-navigation li {
    display: inline;
    min-width:100%;
    margin: 0px;
    padding: 0px;
}
#header-wrap nav #top-navigation li a {
    float: left;
    background: #a90000;
    /*border-bottom: 1px solid #800;*/
    border-right: 1px solid #811;
    color: #fff;
    padding: 5px 2%;
    line-height: 2.2em;
    text-decoration: none;
}
#header-wrap nav #top-navigation li a: hover {
    background: #700;
    color: #fff;
}
#header-wrap nav #top-navigation li > ul {
    display: none;
}
#header-wrap nav #top-navigation: after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ############################ FOOTER ############################ */

/* FOOTER-WRAP */

#footer-wrap {}

#footer-wrap a {
    color: #ffe;
    text-decoration: none;
}
#footer-wrap a: hover {
    text-decoration: underline;
}
#footer-wrap: after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* FOOTER-WRAP FOOTER */

#footer-wrap footer #bookmark-top {
    position: absolute;
    right: 0;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    font-weight: bold;
    margin-top: -2px;
    padding: 4px 12px;
}

/* FOOTER-WRAP FOOTER FOOTERBLOCK */

#footer-wrap footer .footerblock {
    float: left;
    width: 96%;
    padding: 9px 2%;
    line-height: 1.5em;
}
#footer-wrap footer .footer-header {
    font-weight: bold;
    margin-bottom: 9px;
}
#footer-wrap footer .footerblock ul {
    list-style-type: none;
}
#footer-wrap footer .footerblock ul li {
    line-height: 1.75em;
}
#footer-wrap footer #footer-motto {
    font-size: 1.4em;
    font-style: italic;
    margin-top: 24px;
}
#footer-wrap footer #footer-social li {
    float: left;
    display: inline;
    margin-bottom: 24px;
}
#footer-wrap footer #footer-social li a img {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
#footer-wrap footer #footer-social li a: hover img {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* FOOTER-WRAP FOOTER FOOTER-FINAL */
#footer-wrap footer #footer-final {
    clear: both;
    padding: 36px 6px 12px 6px;
    font-size: 0.9em;
    line-height: 1.5em;
}
#footer-wrap footer #footer-final a {
    color: #bba;
}

/* ############################ CONTENT ############################ */


/* CONTENT-WRAP */

#content-wrap {
    padding: 18px 0 36px 0;
    font-size: 0.9em;
    line-height: 1.5em;
    
    display:inline-block;
    width: 100%;
}

/* CONTENT-WRAP HEADER*/
#content-wrap header {
    background: #444 url('assets/page-banner.jpg') center top no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0;
    margin: 0;
    min-height: 80px;
}

/* CONTENT-WRAP HEADER*/
#content-wrap header h1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 3px 5px 3px;
    margin: 0;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-weight: normal;
    line-height: 1.1em;
    letter-spacing: 0px;
    text-shadow: 3px 3px 4px #000;
    font-size: 2.4em;
    min-height: 75px;
}

/* ############################ CONTENT-ARTICLE ############################ */

/* CONTENT-WRAP CONTENT-ARTICLE BREADCRUMB*/
#content-wrap #content-article .breadcrumb {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0.8em;
}

/* CONTENT-WRAP CONTENT-ARTICLE PAGE-CONTENT*/

#content-wrap #page-content {
    padding: 0 9px;
    margin-top: 9px;
}
#content-wrap #page-content h2,
#content-wrap #page-content h4 {
    margin: 0 0 3px 0;
    letter-spacing: -1px;
    line-height: 1em;
}

#content-wrap #page-content h3
{
    margin: 10px 0 3px 0;
    letter-spacing: -1px;
    line-height: 1em;
}

#content-wrap #page-content p,
#content-wrap #page-content table,
#content-wrap #page-content ol,
#content-wrap #page-content ul {
    padding: 6px 0;
    line-height: 1.7em;
    width:100%;
}
#content-wrap #page-content ol ol,
#content-wrap #page-content ol ul,
#content-wrap #page-content ul ol,
#content-wrap #page-content ul ul {
    padding: 2px 0;
    line-height: 1.7em;
}
#content-wrap #page-content ol,
#content-wrap #page-content ul {
    list-style-position: outside;
    margin-left: 32px;
}

#content-wrap #page-content #form-errors{
	color: red;
}


#content-wrap #page-content th,td {
    vertical-align: top;
    text-align: left;
    padding: 3px;
}

#content-wrap #page-content #h4-box  {
    padding: 0px 0px 6px 6px;
    border: 1px solid #ccc;
    margin-top:9px;
}

/* ############################ CONTENT-SIDEBAR ############################ */

#content-wrap #content-sidebar {
    padding: 0 0;
    background: #eee;
}
#content-wrap #content-sidebar p,
#content-wrap #content-sidebar ol,
#content-wrap #content-sidebar ul {
    padding: 9px 9px;
    line-height: 1.5em;
}
#content-wrap #content-sidebar ol,
#content-wrap #content-sidebar ul {
    list-style-position: inside;
}

#content-wrap #content-sidebar h1 {
}

#content-wrap #content-sidebar h2 {
    font-size: 1.2em;
    margin-top: 6px;
}

#content-wrap #content-sidebar table {
    width: 100%;
    margin: 6px 6px;
    padding: 0px;
}

/* ######################################################################### */


/* ###### RESPONSIVE ###### */
@media print {
    body * {
        color: #000;
    }
    body * a {
        border-bottom: 1px solid #ccc;
    }
    .noprint {
        display: none;
    }
}
@media only screen and (min-width: 461px) {
    #header-wrap header #top-brand {
        width: 50%;
        text-align: left;
    }
    #header-wrap header #top-brand .top-logo {
        max-width: 300px;
        padding-left: 9px;
    }
    #header-wrap header #top-quicklinks {
        float: right;
        width: 50%;
        font-size: 0.95em;
    }
    #header-wrap header #top-quicklinks li a {
        width: 41%;
    }
    #header-wrap header #top-info {
        padding-top: 12px;
    }
    #header-wrap header #top-search {
        margin-top: 10px;
        padding-top: 12px;
    }
    #header-wrap header #top-search .top-search-input {
        padding: 3px 2px;
    }
    #header-wrap header #top-search .top-search-submit {
        padding: 3px 6px;
    }
    #footer-wrap footer .footerblock {
        float: left;
        display: inline;
        width: 45%;
        padding: 9px 2% 9px 3%;
        margin-top: 12px;
    }
}
@media only screen and (min-width: 769px) {
    #header-wrap {
        min-height: 100px;
    }
    #header-wrap header #top-brand {
        float: left;
        width: 30%;
        height: 90px;
        margin-top: 9px;
    }
    #header-wrap header #top-quicklinks {
        float: right;
        text-align: right;
        width: 60%;
        margin-top: 10px;
    }
    #header-wrap header #top-quicklinks li a {
        width: auto;
    }
    #header-wrap header #top-info {
        clear: none;
        text-align: right;
    }
    #header-wrap header #top-search {
        padding: 35px 9px 0 0;
    }
    #header-wrap header #top-search .top-search-input {
        width: 20%;
        margin: 0;
    }
    #header-wrap header #top-search .top-search-input: hover, #header-wrap header #top-search .top-search-input: active, #header-wrap header #top-search .top-search-input: focus {
        width: 38%;
    }
    #header-wrap header #top-search .top-search-submit {
        width: auto;
        margin: 0;
    }
    #header-wrap nav #top-navigation {
        display: block;
    }
    #header-wrap nav #top-navigation li a {
        width: 14%;
       /* padding: 5px 1%;*/
        text-align: center;
        border-bottom: 0px;
    }
    #header-wrap nav #top-navigation li: nth-child(4) a {
        width: 18%;
    }
    #header-wrap nav #top-navigation li ul {
        display: none;
        position: absolute;
        z-index: 999;
        width: 675px;
        height: 260px;
        background: #fff;
        font-size: 1em;
        text-align: left;
        box-shadow: 3px 6px 9px #555;
        margin: 36px 0 0 0;
        padding-top: 9px;
        overflow: hidden;
        border-left: 1px solid #777;
        border-bottom: 1px solid #555;
        border-right: 1px solid #555;
        border-top: 3px solid #700;
    }
    #header-wrap nav #top-navigation li: hover ul, #header-wrap nav #top-navigation li: focus ul {
        display: block;
    }
    #header-wrap nav #top-navigation li ul#nav-future-students {
        margin-left: 0;
    }
    #header-wrap nav #top-navigation li ul#nav-current-students {
        margin-left: 5%;
    }
    #header-wrap nav #top-navigation li ul#nav-programs {
        margin-left: 8%;
    }
    #header-wrap nav #top-navigation li ul#nav-business-community {
        margin-left: 10%;
    }
    #header-wrap nav #top-navigation li ul#nav-about {
        margin-left: 12%;
    }
    #header-wrap nav #top-navigation li ul#nav-iwant {
        margin-left: 16%;
    }
    #header-wrap nav #top-navigation li ul li.nav-single {
        float: left;
        width: 31%;
        margin-left: 2%;
        background: #fff;
        color: #111;
    }
    #header-wrap nav #top-navigation li ul li.nav-double {
        float: left;
        width: 64%;
        margin-left: 2%;
        background: #fff;
        color: #111;
    }
    #header-wrap nav #top-navigation li ul li a {
        float: left;
        width: 98% !important;
        padding-left: 1%;
        background: #fff;
        font-weight: bold;
        color: #000;
        text-align: left;
        /*border-bottom: 3px solid #ddd;*/
    }
    #header-wrap nav #top-navigation li ul li a: hover {
        background: #ddd;
        color: #000;
        border-bottom: 3px solid #f11;
    }
    #header-wrap nav #top-navigation li ul ul {
        display: block;
        position: static;
        box-shadow: 0 0 0;
        border: 0;
        height: auto;
        width: 100%;
        padding: 0;
        padding-top: 9px;
        margin-top: 0;
        font-size: 1em;
    }
    #header-wrap nav #top-navigation li ul#nav-iwant ul {
        margin: 9px 0 0 0;
    }
    #header-wrap nav #top-navigation li ul ul li a {
        line-height: 1.6em;
        border: 0;
        font-weight: normal;
    }
    #header-wrap nav #top-navigation li ul ul li a: hover {
        border: 0;
    }
    #header-wrap nav #top-navigation li ul li.nav-single li a {
        width: 96% !important;
    }
    #header-wrap nav #top-navigation li ul li.nav-double li a {
        width: 46% !important;
    }
    #footer-wrap footer .footerblock {
        float: left;
        display: inline;
        width: 30%;
        padding: 9px 2% 9px 1%;
        margin: 36px 0;
    }
}
@media only screen and (min-width: 980px) {
    #header-wrap header, #header-wrap nav #top-navigation, #footer-wrap footer {
        width: 960px;
        margin: 0px auto;
    }
    #header-wrap header #top-quicklinks {
        width: auto;
    }
    #header-wrap nav #top-navigation li a {
        width: auto;
        padding: 5px 31px;
        border-right: 1px solid #811;
    }
    #header-wrap nav #top-navigation li: nth-child(4) a {
        width: auto;
    }
    #header-wrap nav #top-navigation li: last-child a {
        border-right: 0;
    }
    #header-wrap nav #top-navigation li ul li.nav-single li a {
        padding: 5px 0 5px 2%;
        width: 98%;
    }
    #header-wrap nav #top-navigation li ul li.nav-double li a {
        padding: 5px 1% 5px 3%;
        width: 46%;
    }
    #header-wrap nav #top-navigation li ul#nav-future-students {
        margin-left: -3px;
    }
    #header-wrap nav #top-navigation li ul#nav-current-students {
        margin-left: 50px;
    }
    #header-wrap nav #top-navigation li ul#nav-programs {
        margin-left: 120px;
    }
    #header-wrap nav #top-navigation li ul#nav-business-community {
        margin-left: 200px;
    }
    #header-wrap nav #top-navigation li ul#nav-about {
        margin-left: 250px;
    }
    #header-wrap nav #top-navigation li ul#nav-iwant {
        margin-left: 290px;
    }
}
@media only screen and (min-width: 1280px) {
    #header-wrap header, #header-wrap nav #top-navigation, #footer-wrap footer {
        width: 1140px;
    }
    #header-wrap header #top-quicklinks ul {
        font-size: 1em;
    }
    #header-wrap nav #top-navigation li a {
        padding: 5px 46px;
    }
    #header-wrap nav #top-navigation li ul#nav-future-students {
        margin-left: -3px;
    }
    #header-wrap nav #top-navigation li ul#nav-current-students {
        margin-left: 50px;
    }
    #header-wrap nav #top-navigation li ul#nav-programs {
        margin-left: 150px;
    }
    #header-wrap nav #top-navigation li ul#nav-business-community {
        margin-left: 240px;
    }
    #header-wrap nav #top-navigation li ul#nav-about {
        margin-left: 370px;
    }
    #header-wrap nav #top-navigation li ul#nav-iwant {
        margin-left: 470px;
    }
    #footer-wrap {
        font-size: 0.9em;
    }
}
@media print {
    .noprint,
    #pop-announcement,
    #oldie,
    #header-wrap header #top-quicklinks,
    #header-wrap header #top-info,
    #header-wrap nav,
    #footer-wrap footer #bookmark-top,
    #footer-wrap footer .block2,
    #footer-wrap footer .block3 {
        display: none;
    }
    #header-wrap header #top-brand {
        background: #b00 !important;
    }
    #header-wrap header #top-brand .top-logo {
        vertical-align: bottom;
        padding: 12px 0 12px 12px;
        float: left;
        width: 30%;
        height: auto;
        text-align: left;
    }
    #footer-wrap {
        background: #eee;
        color: #000;
    }
    #footer-wrap a {
        color: #000;
    }
    #footer-wrap footer .footerblock {
        margin: 0;
    }
    #footer-wrap footer #footer-final {
        margin: 0 auto;
    }
}
@media only screen and (min-width: 461px) {
    #page-menu nav ul li a {
        font-size: 1em;
    }
}
@media only screen and (min-width: 769px) {
    #content-wrap header {
        padding: 0;
        margin: 0;
        min-height: 110px;
    }
    #content-wrap header h1 {
        padding: 62px 0 9px 18px;
        font-size: 2.7em;
        min-height: 30px;
    }
    #page-menu {}#page-content {
        float: left;
        display: inline;
        margin: 0;
        min-height: 300px;
    }
    #page-content.page-plus-side {
        width: 63%;
        padding: 0 1%;
    }
    #page-content.page-full {
        width: 98%;
        padding: 0 1%;
    }
    #content-sidebar {
        float: right;
        display: inline;
        width: 30%;
        padding: 0 1%;
        margin: 0 0 0 1%;
    }
}
@media only screen and (min-width: 980px) {
    .resize-box {
        width: 960px;
        margin: 0px auto;
    }
}
@media only screen and (min-width: 1280px) {
    .resize-box {
        width: 1140px;
    }
    #content-wrap header {
        margin: 0;
        min-height: 110px;
    }
    #content-wrap header h1 {
        padding: 75px 0 9px 18px;
        font-size: 3.2em;
    }
    #page-menu {}#page-menu nav ul li a {
        padding: 5px 1%;
        line-height: 1.6em;
        font-size: 1.1em;
    }
    #page-menu nav ul li a: hover {
        padding: 5px 1%;
    }
}
@media print {
    #content-wrap header h1 {
        text-shadow: 0 0 0;
        margin: 0;
        font-size: 1.9em;
    }
    #breadcrumb {
        display: none;
    }
}
@media print {
    body * {
        color: #000;
    }
    body * a {
        border-bottom: 1px solid #ccc;
    }
    .noprint {
        display: none;
    }
}
@media only screen and (min-width: 351px) {
    #feature-wrap #feature-slider {
        float: left;
        width: 100%;
    }
    #feature-wrap #feature-blocks .feature-block a {
        text-align: left;
        float: left;
        background: #16b9fa;
        color: #fff;
        width: 30%;
        padding: 9px 1%;
        margin-right: 1%;
        text-decoration: none;
        font-size: 1.2em;
        border-bottom: 1px solid #ccc;
    }
    #feature-wrap #feature-blocks .feature-block: last-child a {
        width: 32%;
        margin-right: 0px;
    }
    #feature-wrap #feature-blocks .feature-block a: hover {
        background: #36d9ff;
    }
}
@media only screen and (min-width: 461px) {
    #feature-wrap #feature-slider {}
}
@media only screen and (min-width: 769px) {
    #feature-wrap {
        padding: 0 0 24px 0;
    }
    #feature-wrap #feature-slider {
        width: 75%;
    }
    #feature-wrap #feature-slider .views-slideshow-cycle-main-frame {
        width: 100%;
        height: 300px !important;
    }
    #feature-wrap #feature-slider .views_slideshow_slide {
        width: 100%;
        height: 300px !important;
    }
    #feature-wrap #feature-slider .views-slideshow-controls-bottom.clearfix {
        display: block;
    }
    #feature-wrap #feature-blocks {
        clear: none;
        float: right;
        width: 25%;
    }
    #feature-wrap #feature-blocks .feature-block a {
        float: left;
        background: #16b9fa;
        width: 80%;
        margin: 8px 10%;
        padding: 15px 2% 5px 0;
        height: 60px;
        text-align: center;
        border: 0px;
        font-size: 1.5em;
    }
    #feature-wrap #feature-blocks .feature-block: first-child a {
        margin-top: 16px;
    }
    #feature-wrap #feature-blocks .feature-block: last-child a {
        width: 80%;
    }
    #feature-wrap #feature-blocks .feature-block a img {
        height: 55px;
    }
    #frontpage-blocks-wrap {
        font-size: 0.9em;
    }
    #frontpage-blocks-wrap .block {
        width: 27%;
        min-height: 280px;
    }
    #frontpage-blocks-wrap .block #socialbox {
        overflow: auto;
    }
    #frontpage-blocks-wrap .block3 {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}
@media only screen and (min-width: 980px) {
    .resize-box {
        width: 960px;
        margin: 0px auto;
    }
    #feature-wrap #feature-slider .views-slideshow-cycle-main-frame {
        width: 100%;
        height: 321px !important;
    }
    #feature-wrap #feature-slider .views_slideshow_slide {
        width: 100%;
        height: 321px !important;
    }
    #feature-wrap #feature-slider .views-slideshow-controls-bottom.clearfix {
        position: relative;
        margin-left: 12px;
        margin-top: -28px;
        z-index: 99;
        width: 100%;
        height: 18px;
    }
    #feature-wrap #feature-blocks .feature-block a {
        width: 84%;
        margin: 8px 8%;
        padding: 15px 2% 5px 0;
        height: 65px;
    }
    #feature-wrap #feature-blocks .feature-block: first-child a {
        margin-top: 18px;
    }
    #feature-wrap #feature-blocks .feature-block: last-child a {
        width: 84%;
    }
    #frontpage-blocks-wrap .block: first-child {
        padding: 9px 6% 9px 0;
    }
    #frontpage-blocks-wrap .block: last-child {
        padding: 9px 0 9px 6%;
    }
}
@media only screen and (min-width: 1280px) {
    .resize-box {
        width: 1140px;
    }
    #views_slideshow_cycle_main_scroller_main-block {
        width: 100%;
        height: 382px !important;
    }
    #feature-wrap #feature-slider .views-slideshow-controls-bottom.clearfix {
        position: relative;
        margin-left: 12px;
        margin-top: -28px;
        z-index: 99;
        width: 100%;
        height: 18px;
    }
    #feature-wrap #feature-blocks .feature-block a {
        width: 84%;
        margin: 8px 8%;
        padding: 12px 2% 7px 0;
        height: 85px;
        font-size: 1.7em;
    }
    #feature-wrap #feature-blocks .feature-block a img {
        height: 80px;
        padding-right: 10px;
    }
}
@media print {
    #frontpage-blocks-wrap .block: last-child {
        display: none;
    }
}