USE [advisorPortal]
GO
/****** Object:  StoredProcedure [dbo].[createPLANS]    Script Date: 3/4/2017 6:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thomas Dye, February 2017 --
CREATE PROCEDURE [dbo].[createPLANS]
	@AccountID INT, -- from session
	@DegreeID INT, -- from form
	@CollegeID INT, -- from form
	@PlanName VARCHAR(255) -- from form
AS
	SET NOCOUNT ON
	
	-- Validate all external input before proceeding --
	DECLARE @ValidAccount BIT = 0
	DECLARE @ValidDegree BIT = 0
	DECLARE @ValidCollege BIT = 0

	IF ((SELECT COUNT(*)
		FROM ACCOUNTS
		WHERE id = @AccountID) > 0)
		SET @ValidAccount = 1
	IF ((SELECT COUNT(*)
		FROM DEGREES
		WHERE id = @DegreeID) > 0)
		SET @ValidDegree = 1
	IF ((SELECT COUNT(*)
		FROM COLLEGES
		WHERE id = @CollegeID) > 0)
		SET @ValidCollege = 1

	IF (@ValidAccount = 1 AND @ValidDegree = 1 AND @ValidCollege = 1)
	BEGIN
		-- Create new student plan --
		INSERT INTO PLANS (
			students_accounts_id, plan_name
		) VALUES (
			@AccountID, @PlanName
		)

		-- Retrieve the new plan ID --
		DECLARE @PlanID INT = (SELECT DISTINCT @@IDENTITY AS id
			FROM PLANS)

		-- Associate the degree with the new plan --
		INSERT INTO PLAN_SELECTEDDEGREES (
			plans_id, degrees_id
		) VALUES (
			@PlanID, @DegreeID
		)

		-- If the student has no active plans, make this the active plan --
		IF ((SELECT COUNT(*)
			FROM PLAN_ACTIVEPLANS
			WHERE students_accounts_id = @AccountID) = 0)
			INSERT INTO PLAN_ACTIVEPLANS (
				plans_id, students_accounts_id
			) VALUES (
				@PlanID, @AccountID
			)

		-- Get all available admission and graduation courses for this degree --
		-- Add the degree inherited courses to the plan --
		INSERT INTO PLAN_SELECTEDCOURSES (
			plans_id, courses_id, degree_categories_id, credit
		)
			SELECT @PlanID, cou.id, deg.degree_categories_id,
				CASE
					WHEN cou.min_credit IS NULL THEN cou.max_credit
					ELSE NULL
				END AS credit
			FROM COURSES cou
			JOIN DEGREE_ADMISSION_COURSES deg
			ON cou.id = deg.courses_id
			WHERE cou.use_catalog = 1
			AND deg.degrees_id = @DegreeID
			UNION
			SELECT @PlanID, cou.id, deg.degree_categories_id,
				CASE
					WHEN cou.min_credit IS NULL THEN cou.max_credit
					ELSE NULL
				END AS credit
			FROM COURSES cou
			JOIN DEGREE_GRADUATION_COURSES deg
			ON cou.id = deg.courses_id
			WHERE cou.use_catalog = 1
			AND deg.degrees_id = @DegreeID

		-- Check for courses required for college admission --
		IF ((SELECT COUNT(*)
			FROM COLLEGE_ADMISSION_COURSES
			WHERE colleges_id = @CollegeID) > 0)
		BEGIN
			-- If there are any courses that aren't in posted degree requirements, sort them out --
			-- Any count value that is not zero shows that unsorted requirements exist --
			IF ((SELECT COUNT(*)
				FROM COLLEGE_ADMISSION_COURSES
				WHERE colleges_id = @CollegeID
				AND courses_id NOT IN (SELECT courses_id
					FROM PLAN_SELECTEDCOURSES
					WHERE plans_id = @PlanID)) > 0)
			BEGIN
				-- We need a new degree category for college admission requirements --
				-- If a college admission course category does not exist for this degree, make one --
				IF ((SELECT COUNT(*)
					FROM DEGREE_CATEGORIES
					WHERE degrees_id = @DegreeID
					AND category = 'College Admission Courses') = 0)
					INSERT INTO DEGREE_CATEGORIES (
						degrees_id, category
					) VALUES (
						@DegreeID, 'College Admission Courses'
					)

				-- Add the college admission courses to the new category --
				-- Ignore any courses which are part of the degree --
				INSERT INTO PLAN_SELECTEDCOURSES (
					plans_id, courses_id, degree_categories_id, credit
				)
					SELECT @PlanID, adm.courses_id,
						(SELECT id
							FROM DEGREE_CATEGORIES
							WHERE degrees_id = @DegreeID
							AND category = 'College Admission Courses'),
						CASE 
							WHEN cou.min_credit IS NULL THEN cou.max_credit
							ELSE NULL
						END AS credit
					FROM COURSES cou
					JOIN COLLEGE_ADMISSION_COURSES adm
					ON cou.id = adm.courses_id
					WHERE adm.colleges_id = @CollegeID
					AND adm.courses_id NOT IN (SELECT courses_id
						FROM PLAN_SELECTEDCOURSES
						WHERE plans_id = @PlanID)
			END
		END
		RETURN @PlanID
	END
RETURN -1
GO
/****** Object:  StoredProcedure [dbo].[updatePLAN_SELECTEDCOURSES]    Script Date: 3/4/2017 6:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update the completedcourses_id column of PLAN_SELECTEDCOURSES from a student's completed courses --
-- Thomas Dye, February 2017 --

CREATE PROCEDURE [dbo].[updatePLAN_SELECTEDCOURSES]
	@AccountID int,
	@PlanID int
AS
	SET NOCOUNT ON
	
	-- Validate all external input before proceeding --
	DECLARE @ValidAccount BIT = 0
	DECLARE @ValidPlan BIT = 0

	IF ((SELECT COUNT(*) FROM ACCOUNTS WHERE id = @AccountID) > 0)
		SET @ValidAccount = 1
	IF ((SELECT COUNT(*) FROM PLANS WHERE id = @PlanID AND students_accounts_id = @AccountID) > 0)
		SET @ValidPlan = 1

	IF (@ValidAccount = 1 AND @ValidPlan = 1)
	BEGIN
		-- Clear any previously marked completed courses in the student's plan --
		UPDATE PLAN_SELECTEDCOURSES SET completedcourses_id = NULL WHERE plans_id = @PlanID
		
		-- Create an iterator for the student's completed courses --
		DECLARE @CompletedCursor CURSOR
		SET @CompletedCursor = CURSOR READ_ONLY FOR
			SELECT id, courses_id, credit FROM STUDENTS_COMPLETEDCOURSES WHERE students_accounts_id = @AccountID

		OPEN @CompletedCursor

		-- Variables to store contents of the current STUDENTS_COMPLETEDCOURSES row --
		DECLARE @CompletedID INT
		DECLARE @CompletedCoursesID INT
		DECLARE @CompletedCredit DECIMAL(4,2)

		-- Loop through the completed courses until there are none left --
		FETCH NEXT FROM @CompletedCursor INTO @CompletedID, @CompletedCoursesID, @CompletedCredit
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Create a nested iterator for the student's selected courses in a plan --
			-- Evaluate each planned course to see if it should be marked as completed or not --
			DECLARE @SelectedCursor CURSOR
			SET @SelectedCursor = CURSOR FOR
				SELECT id, courses_id, completedcourses_id, credit FROM PLAN_SELECTEDCOURSES WHERE plans_id = @PlanID

			OPEN @SelectedCursor

			-- Variables to store contents of PLANS_SELECTEDCOURSES row --
			DECLARE @SelectedID INT
			DECLARE @SelectedCoursesID INT
			DECLARE @SelectedCompletedCoursesID INT
			DECLARE @SelectedCredit INT

			-- Loop through the selected courses until there are none left --
			FETCH NEXT FROM @SelectedCursor INTO @SelectedID, @SelectedCoursesID, @SelectedCompletedCoursesID, @SelectedCredit
			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Match by course number and when planned credit equals taken credit --
				IF (@CompletedCoursesID = @SelectedCoursesID AND @CompletedCredit = @SelectedCredit AND @SelectedCompletedCoursesID IS NULL)
				BEGIN
					UPDATE PLAN_SELECTEDCOURSES SET completedcourses_id = @CompletedID WHERE id = @SelectedID
				END

				FETCH NEXT FROM @SelectedCursor INTO @SelectedID, @SelectedCoursesID, @SelectedCompletedCoursesID, @SelectedCredit
			END

			CLOSE @SelectedCursor
			DEALLOCATE @SelectedCursor

			FETCH NEXT FROM @CompletedCursor INTO @CompletedID, @CompletedCoursesID, @CompletedCredit
		END

		CLOSE @CompletedCursor
		DEALLOCATE @CompletedCursor

		RETURN 0
	END

RETURN -1
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 3/4/2017 6:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[active] [bit] NOT NULL,
	[email] [varchar](60) NOT NULL,
	[first_name] [varchar](40) NOT NULL,
	[last_name] [varchar](40) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[salt] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [AK_ACCOUNTS_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CODEKEYS]    Script Date: 3/4/2017 6:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CODEKEYS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codekey] [varchar](4) NOT NULL,
	[description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CODEKEYS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLLEGE_ADMISSION_CODEKEYS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE_ADMISSION_CODEKEYS](
	[colleges_id] [int] NOT NULL,
	[codekeys_id] [int] NOT NULL,
	[credit] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_COLLEGE_ADMISSION_CODEKEYS] PRIMARY KEY CLUSTERED 
(
	[colleges_id] ASC,
	[codekeys_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COLLEGE_ADMISSION_COURSES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLLEGE_ADMISSION_COURSES](
	[colleges_id] [int] NOT NULL,
	[courses_id] [int] NOT NULL,
	[foreign_course_number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COLLEGES_ADMISSION_COURSES] PRIMARY KEY CLUSTERED 
(
	[colleges_id] ASC,
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLLEGE_ADMISSION_DEPARTMENTS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE_ADMISSION_DEPARTMENTS](
	[colleges_id] [int] NOT NULL,
	[departments_id] [int] NOT NULL,
	[credit] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_COLLEGE_ADMISSION_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[colleges_id] ASC,
	[departments_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COLLEGE_DEPARTMENTS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE_DEPARTMENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[colleges_id] [int] NOT NULL,
	[departments_id] [int] NOT NULL,
 CONSTRAINT [PK_COLLEGE_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COLLEGE_NOTES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLLEGE_NOTES](
	[colleges_id] [int] NOT NULL,
	[courses_note] [varchar](1800) NULL,
	[departments_note] [varchar](1800) NULL,
	[codekeys_note] [varchar](1800) NULL,
 CONSTRAINT [PK_COLLEGE_NOTES] PRIMARY KEY CLUSTERED 
(
	[colleges_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLLEGE_RANKINGS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE_RANKINGS](
	[colleges_id] [int] NOT NULL,
	[rank] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_COLLEGE_RANKINGS] PRIMARY KEY CLUSTERED 
(
	[colleges_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COLLEGES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLLEGES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[college_name] [varchar](255) NOT NULL,
	[college_city] [varchar](255) NOT NULL,
	[college_website] [varchar](255) NULL,
	[use_catalog] [bit] NOT NULL,
 CONSTRAINT [PK_COLLEGES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COREQUISITES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COREQUISITES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courses_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
	[courses_corequisite_id] [int] NOT NULL,
 CONSTRAINT [PK_COREQUISITES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COURSE_RANKINGS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_RANKINGS](
	[courses_id] [int] NOT NULL,
	[rank] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_COURSE_RANKINGS] PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURSES](
	[id] [int] NOT NULL,
	[course_number] [varchar](13) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[min_credit] [decimal](4, 2) NULL,
	[max_credit] [decimal](4, 2) NOT NULL,
	[course_description] [varchar](1800) NULL,
	[departments_id] [int] NOT NULL,
	[use_catalog] [bit] NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COURSES_CODEKEYS]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES_CODEKEYS](
	[courses_id] [int] NOT NULL,
	[codekeys_id] [int] NOT NULL,
 CONSTRAINT [PK_COURSES_CODEKEYS] PRIMARY KEY CLUSTERED 
(
	[codekeys_id] ASC,
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DEGREE_ADMISSION_CATEGORIES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE_ADMISSION_CATEGORIES](
	[degrees_id] [int] NOT NULL,
	[degree_categories_id] [int] NOT NULL,
	[credit] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_DEGREE_ADMISSION_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC,
	[degree_categories_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DEGREE_ADMISSION_COURSES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREE_ADMISSION_COURSES](
	[degrees_id] [int] NOT NULL,
	[courses_id] [int] NOT NULL,
	[degree_categories_id] [int] NOT NULL,
	[foreign_course_number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEGREE_ADMISSION_COURSES] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC,
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEGREE_CATEGORIES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREE_CATEGORIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[degrees_id] [int] NOT NULL,
	[category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEGREE_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEGREE_GRADUATION_CATEGORIES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE_GRADUATION_CATEGORIES](
	[degrees_id] [int] NOT NULL,
	[degree_categories_id] [int] NOT NULL,
	[credit] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_DEGREE_GRADUATION_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC,
	[degree_categories_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DEGREE_GRADUATION_COURSES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREE_GRADUATION_COURSES](
	[degrees_id] [int] NOT NULL,
	[courses_id] [int] NOT NULL,
	[degree_categories_id] [int] NOT NULL,
	[foreign_course_number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEGREE_GRADUATION_COURSES] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC,
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEGREE_NOTES]    Script Date: 3/4/2017 6:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREE_NOTES](
	[degrees_id] [int] NOT NULL,
	[admission_courses_note] [varchar](1800) NULL,
	[admission_categories_note] [varchar](1800) NULL,
	[graduation_courses_note] [varchar](1800) NULL,
	[graduation_categories_note] [varchar](1800) NULL,
	[general_note] [varchar](1800) NULL,
 CONSTRAINT [PK_DEGREE_NOTES] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEGREE_RANKINGS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE_RANKINGS](
	[degrees_id] [int] NOT NULL,
	[rank] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_DEGREE_RANKINGS] PRIMARY KEY CLUSTERED 
(
	[degrees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DEGREES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[colleges_id] [int] NOT NULL,
	[degree_name] [varchar](255) NOT NULL,
	[departments_id] [int] NOT NULL,
	[degree_type] [varchar](255) NOT NULL,
	[use_catalog] [bit] NOT NULL,
 CONSTRAINT [PK_DEGREES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT_RANKINGS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT_RANKINGS](
	[departments_id] [int] NOT NULL,
	[rank] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_DEPARTMENT_RANKINGS] PRIMARY KEY CLUSTERED 
(
	[departments_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[id] [int] NOT NULL,
	[department_name] [varchar](255) NOT NULL,
	[see_also] [varchar](255) NULL,
	[dept_intro] [varchar](1800) NULL,
	[abv_title] [varchar](10) NULL,
	[abv_title2] [varchar](10) NULL,
	[use_catalog] [bit] NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[accounts_id] [int] NOT NULL,
	[editor] [bit] NOT NULL,
	[administrator] [bit] NOT NULL,
 CONSTRAINT [PK_FACULTY] PRIMARY KEY CLUSTERED 
(
	[accounts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PLAN_ACTIVEPLANS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_ACTIVEPLANS](
	[plans_id] [int] NOT NULL,
	[students_accounts_id] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_ACTIVEPLANS] PRIMARY KEY CLUSTERED 
(
	[plans_id] ASC,
	[students_accounts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PLAN_SELECTEDCOURSES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_SELECTEDCOURSES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plans_id] [int] NOT NULL,
	[courses_id] [int] NOT NULL,
	[degree_categories_id] [int] NOT NULL,
	[completedcourses_id] [int] NULL,
	[credit] [decimal](4, 2) NULL,
 CONSTRAINT [PK_PLAN_SELECTEDCOURSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PLAN_SELECTEDDEGREES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_SELECTEDDEGREES](
	[plans_id] [int] NOT NULL,
	[degrees_id] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_SELECTEDDEGREES] PRIMARY KEY CLUSTERED 
(
	[plans_id] ASC,
	[degrees_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PLANS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[students_accounts_id] [int] NOT NULL,
	[plan_name] [varchar](255) NOT NULL,
	[time_created] [datetime] NOT NULL DEFAULT (getdate()),
	[time_updated] [datetime] NULL,
 CONSTRAINT [PK_PLANS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREREQUISITE_PERMISSIONS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREREQUISITE_PERMISSIONS](
	[courses_id] [int] NOT NULL,
 CONSTRAINT [PK_PREREQUISITE_PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PREREQUISITE_PLACEMENTS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREREQUISITE_PLACEMENTS](
	[courses_id] [int] NOT NULL,
	[placement] [varchar](255) NOT NULL,
 CONSTRAINT [PK_PREREQUISITE_PLACEMENTS] PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREREQUISITES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREREQUISITES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courses_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
	[courses_prerequisite_id] [int] NOT NULL,
 CONSTRAINT [PK_PREREQUISITES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[STUDENT_PLACEMENTCOURSES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_PLACEMENTCOURSES](
	[students_accounts_id] [int] NOT NULL,
	[math_courses_id] [int] NOT NULL,
	[english_courses_id] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT_PLACEMENTCOURSES] PRIMARY KEY CLUSTERED 
(
	[students_accounts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[accounts_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[accounts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
 CONSTRAINT [AK_STUDENTS_student_id] UNIQUE NONCLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[STUDENTS_COMPLETEDCOURSES]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS_COMPLETEDCOURSES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[students_accounts_id] [int] NOT NULL,
	[courses_id] [int] NOT NULL,
	[credit] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_STUDENTS_COMPLETEDCOURSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_CODEKEYS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_ADMISSION_CODEKEYS_codekeys_id] FOREIGN KEY([codekeys_id])
REFERENCES [dbo].[CODEKEYS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_CODEKEYS] CHECK CONSTRAINT [FK_COLLEGE_ADMISSION_CODEKEYS_codekeys_id]
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_CODEKEYS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_ADMISSION_CODEKEYS_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_CODEKEYS] CHECK CONSTRAINT [FK_COLLEGE_ADMISSION_CODEKEYS_colleges_id]
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGES_ADMISSION_COURSES_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_COURSES] CHECK CONSTRAINT [FK_COLLEGES_ADMISSION_COURSES_colleges_id]
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGES_ADMISSION_COURSES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_COURSES] CHECK CONSTRAINT [FK_COLLEGES_ADMISSION_COURSES_courses_id]
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_ADMISSION_DEPARTMENTS_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_DEPARTMENTS] CHECK CONSTRAINT [FK_COLLEGE_ADMISSION_DEPARTMENTS_colleges_id]
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_ADMISSION_DEPARTMENTS_departments_id] FOREIGN KEY([departments_id])
REFERENCES [dbo].[DEPARTMENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_ADMISSION_DEPARTMENTS] CHECK CONSTRAINT [FK_COLLEGE_ADMISSION_DEPARTMENTS_departments_id]
GO
ALTER TABLE [dbo].[COLLEGE_DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_DEPARTMENTS_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_DEPARTMENTS] CHECK CONSTRAINT [FK_COLLEGE_DEPARTMENTS_colleges_id]
GO
ALTER TABLE [dbo].[COLLEGE_DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_DEPARTMENTS_departments_id] FOREIGN KEY([departments_id])
REFERENCES [dbo].[DEPARTMENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_DEPARTMENTS] CHECK CONSTRAINT [FK_COLLEGE_DEPARTMENTS_departments_id]
GO
ALTER TABLE [dbo].[COLLEGE_NOTES]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_NOTES_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_NOTES] CHECK CONSTRAINT [FK_COLLEGE_NOTES_colleges_id]
GO
ALTER TABLE [dbo].[COLLEGE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [FK_COLLEGE_RANKINGS_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLEGE_RANKINGS] CHECK CONSTRAINT [FK_COLLEGE_RANKINGS_colleges_id]
GO
ALTER TABLE [dbo].[COREQUISITES]  WITH CHECK ADD  CONSTRAINT [FK_COREQUISITES_courses_corequisite_id] FOREIGN KEY([courses_corequisite_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[COREQUISITES] CHECK CONSTRAINT [FK_COREQUISITES_courses_corequisite_id]
GO
ALTER TABLE [dbo].[COREQUISITES]  WITH CHECK ADD  CONSTRAINT [FK_COREQUISITES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[COREQUISITES] CHECK CONSTRAINT [FK_COREQUISITES_courses_id]
GO
ALTER TABLE [dbo].[COURSE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_RANKINGS_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSE_RANKINGS] CHECK CONSTRAINT [FK_COURSE_RANKINGS_courses_id]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_departments_id] FOREIGN KEY([departments_id])
REFERENCES [dbo].[DEPARTMENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_departments_id]
GO
ALTER TABLE [dbo].[COURSES_CODEKEYS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_CODEKEYS_codekeys_id] FOREIGN KEY([codekeys_id])
REFERENCES [dbo].[CODEKEYS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSES_CODEKEYS] CHECK CONSTRAINT [FK_COURSES_CODEKEYS_codekeys_id]
GO
ALTER TABLE [dbo].[COURSES_CODEKEYS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_CODEKEYS_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSES_CODEKEYS] CHECK CONSTRAINT [FK_COURSES_CODEKEYS_courses_id]
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_ADMISSION_CATEGORIES_degree_categories_id] FOREIGN KEY([degree_categories_id])
REFERENCES [dbo].[DEGREE_CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_CATEGORIES] CHECK CONSTRAINT [FK_DEGREE_ADMISSION_CATEGORIES_degree_categories_id]
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_ADMISSION_CATEGORIES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_CATEGORIES] CHECK CONSTRAINT [FK_DEGREE_ADMISSION_CATEGORIES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES] CHECK CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_courses_id]
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_degree_categories_id] FOREIGN KEY([degree_categories_id])
REFERENCES [dbo].[DEGREE_CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES] CHECK CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_degree_categories_id]
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_ADMISSION_COURSES] CHECK CONSTRAINT [FK_DEGREE_ADMISSION_COURSES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_CATEGORIES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_CATEGORIES] CHECK CONSTRAINT [FK_DEGREE_CATEGORIES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_GRADUATION_CATEGORIES_degree_categories_id] FOREIGN KEY([degree_categories_id])
REFERENCES [dbo].[DEGREE_CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_CATEGORIES] CHECK CONSTRAINT [FK_DEGREE_GRADUATION_CATEGORIES_degree_categories_id]
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_GRADUATION_CATEGORIES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_CATEGORIES] CHECK CONSTRAINT [FK_DEGREE_GRADUATION_CATEGORIES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES] CHECK CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_courses_id]
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_degree_categories_id] FOREIGN KEY([degree_categories_id])
REFERENCES [dbo].[DEGREE_CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES] CHECK CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_degree_categories_id]
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
GO
ALTER TABLE [dbo].[DEGREE_GRADUATION_COURSES] CHECK CONSTRAINT [FK_DEGREE_GRADUATION_COURSES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_NOTES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_NOTES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_NOTES] CHECK CONSTRAINT [FK_DEGREE_NOTES_degrees_id]
GO
ALTER TABLE [dbo].[DEGREE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_RANKINGS_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_RANKINGS] CHECK CONSTRAINT [FK_DEGREE_RANKINGS_degrees_id]
GO
ALTER TABLE [dbo].[DEGREES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREES_colleges_id] FOREIGN KEY([colleges_id])
REFERENCES [dbo].[COLLEGES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREES] CHECK CONSTRAINT [FK_DEGREES_colleges_id]
GO
ALTER TABLE [dbo].[DEGREES]  WITH CHECK ADD  CONSTRAINT [FK_DEGREES_departments_id] FOREIGN KEY([departments_id])
REFERENCES [dbo].[DEPARTMENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEGREES] CHECK CONSTRAINT [FK_DEGREES_departments_id]
GO
ALTER TABLE [dbo].[DEPARTMENT_RANKINGS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_RANKINGS_departments_id] FOREIGN KEY([departments_id])
REFERENCES [dbo].[DEPARTMENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPARTMENT_RANKINGS] CHECK CONSTRAINT [FK_DEPARTMENT_RANKINGS_departments_id]
GO
ALTER TABLE [dbo].[FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_FACULTY_accounts_id] FOREIGN KEY([accounts_id])
REFERENCES [dbo].[ACCOUNTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FACULTY] CHECK CONSTRAINT [FK_FACULTY_accounts_id]
GO
ALTER TABLE [dbo].[PLAN_ACTIVEPLANS]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_ACTIVEPLANS_plans_id] FOREIGN KEY([plans_id])
REFERENCES [dbo].[PLANS] ([id])
GO
ALTER TABLE [dbo].[PLAN_ACTIVEPLANS] CHECK CONSTRAINT [FK_PLAN_ACTIVEPLANS_plans_id]
GO
ALTER TABLE [dbo].[PLAN_ACTIVEPLANS]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_ACTIVEPLANS_students_accounts_id] FOREIGN KEY([students_accounts_id])
REFERENCES [dbo].[STUDENTS] ([accounts_id])
GO
ALTER TABLE [dbo].[PLAN_ACTIVEPLANS] CHECK CONSTRAINT [FK_PLAN_ACTIVEPLANS_students_accounts_id]
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_SELECTEDCOURSES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES] CHECK CONSTRAINT [FK_PLAN_SELECTEDCOURSES_courses_id]
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_SELECTEDCOURSES_degree_categories_id] FOREIGN KEY([degree_categories_id])
REFERENCES [dbo].[DEGREE_CATEGORIES] ([id])
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES] CHECK CONSTRAINT [FK_PLAN_SELECTEDCOURSES_degree_categories_id]
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_SELECTEDCOURSES_plans_id] FOREIGN KEY([plans_id])
REFERENCES [dbo].[PLANS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_SELECTEDCOURSES] CHECK CONSTRAINT [FK_PLAN_SELECTEDCOURSES_plans_id]
GO
ALTER TABLE [dbo].[PLAN_SELECTEDDEGREES]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_SELECTEDDEGREES_degrees_id] FOREIGN KEY([degrees_id])
REFERENCES [dbo].[DEGREES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_SELECTEDDEGREES] CHECK CONSTRAINT [FK_PLAN_SELECTEDDEGREES_degrees_id]
GO
ALTER TABLE [dbo].[PLAN_SELECTEDDEGREES]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_SELECTEDDEGREES_plans_id] FOREIGN KEY([plans_id])
REFERENCES [dbo].[PLANS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLAN_SELECTEDDEGREES] CHECK CONSTRAINT [FK_PLAN_SELECTEDDEGREES_plans_id]
GO
ALTER TABLE [dbo].[PLANS]  WITH CHECK ADD  CONSTRAINT [FK_PLANS_students_accounts_id] FOREIGN KEY([students_accounts_id])
REFERENCES [dbo].[STUDENTS] ([accounts_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLANS] CHECK CONSTRAINT [FK_PLANS_students_accounts_id]
GO
ALTER TABLE [dbo].[PREREQUISITE_PERMISSIONS]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITE_PERMISSIONS_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PREREQUISITE_PERMISSIONS] CHECK CONSTRAINT [FK_PREREQUISITE_PERMISSIONS_courses_id]
GO
ALTER TABLE [dbo].[PREREQUISITE_PLACEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITE_PLACEMENTS_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PREREQUISITE_PLACEMENTS] CHECK CONSTRAINT [FK_PREREQUISITE_PLACEMENTS_courses_id]
GO
ALTER TABLE [dbo].[PREREQUISITES]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[PREREQUISITES] CHECK CONSTRAINT [FK_PREREQUISITES_courses_id]
GO
ALTER TABLE [dbo].[PREREQUISITES]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITES_courses_prequiresite_id] FOREIGN KEY([courses_prerequisite_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[PREREQUISITES] CHECK CONSTRAINT [FK_PREREQUISITES_courses_prequiresite_id]
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_english_courses_id] FOREIGN KEY([english_courses_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES] CHECK CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_english_courses_id]
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_math_courses_id] FOREIGN KEY([math_courses_id])
REFERENCES [dbo].[COURSES] ([id])
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES] CHECK CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_math_courses_id]
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_students_accounts_id] FOREIGN KEY([students_accounts_id])
REFERENCES [dbo].[STUDENTS] ([accounts_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENT_PLACEMENTCOURSES] CHECK CONSTRAINT [FK_STUDENT_PLACEMENTCOURSES_students_accounts_id]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_accounts_id] FOREIGN KEY([accounts_id])
REFERENCES [dbo].[ACCOUNTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_accounts_id]
GO
ALTER TABLE [dbo].[STUDENTS_COMPLETEDCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COMPLETEDCOURSES_courses_id] FOREIGN KEY([courses_id])
REFERENCES [dbo].[COURSES] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENTS_COMPLETEDCOURSES] CHECK CONSTRAINT [FK_STUDENTS_COMPLETEDCOURSES_courses_id]
GO
ALTER TABLE [dbo].[STUDENTS_COMPLETEDCOURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COMPLETEDCOURSES_students_accounts_id] FOREIGN KEY([students_accounts_id])
REFERENCES [dbo].[STUDENTS] ([accounts_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENTS_COMPLETEDCOURSES] CHECK CONSTRAINT [FK_STUDENTS_COMPLETEDCOURSES_students_accounts_id]
GO
ALTER TABLE [dbo].[COLLEGE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [CK_COLLEGE_RANKINGS_rank] CHECK  (([rank]>=(0)))
GO
ALTER TABLE [dbo].[COLLEGE_RANKINGS] CHECK CONSTRAINT [CK_COLLEGE_RANKINGS_rank]
GO
ALTER TABLE [dbo].[COREQUISITES]  WITH CHECK ADD  CONSTRAINT [CK_PREREQUISITES_courses_corequisite_id] CHECK  (([courses_id]<>[courses_corequisite_id]))
GO
ALTER TABLE [dbo].[COREQUISITES] CHECK CONSTRAINT [CK_PREREQUISITES_courses_corequisite_id]
GO
ALTER TABLE [dbo].[COURSE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [CK_COURSE_RANKINGS_rank] CHECK  (([rank]>=(0)))
GO
ALTER TABLE [dbo].[COURSE_RANKINGS] CHECK CONSTRAINT [CK_COURSE_RANKINGS_rank]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_max_credit] CHECK  ((([min_credit] IS NULL OR [max_credit]>=[min_credit]) AND [max_credit]>=(0)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_max_credit]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_min_credit] CHECK  (([min_credit]>=(0)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_min_credit]
GO
ALTER TABLE [dbo].[DEGREE_RANKINGS]  WITH CHECK ADD  CONSTRAINT [CK_DEGREE_RANKINGS_rank] CHECK  (([rank]>=(0)))
GO
ALTER TABLE [dbo].[DEGREE_RANKINGS] CHECK CONSTRAINT [CK_DEGREE_RANKINGS_rank]
GO
ALTER TABLE [dbo].[DEPARTMENT_RANKINGS]  WITH CHECK ADD  CONSTRAINT [CK_DEPARTMENT_RANKINGS_rank] CHECK  (([rank]>=(0)))
GO
ALTER TABLE [dbo].[DEPARTMENT_RANKINGS] CHECK CONSTRAINT [CK_DEPARTMENT_RANKINGS_rank]
GO
ALTER TABLE [dbo].[PREREQUISITES]  WITH CHECK ADD  CONSTRAINT [CK_PREREQUISITES_courses_prerequisite_id] CHECK  (([courses_id]<>[courses_prerequisite_id]))
GO
ALTER TABLE [dbo].[PREREQUISITES] CHECK CONSTRAINT [CK_PREREQUISITES_courses_prerequisite_id]
GO
/****** Object:  Trigger [dbo].[Trigger_COLLEGES_insert]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, August 2016 --
CREATE TRIGGER [dbo].[Trigger_COLLEGES_insert]
    ON [dbo].[COLLEGES]
    FOR INSERT
    AS
    BEGIN
        SET NoCount ON

		-- Ensure that a location to save notes exists for this college
		DECLARE @College_ID INT
		SET @College_ID = (SELECT id FROM inserted)
		IF NOT EXISTS (SELECT colleges_id FROM COLLEGE_NOTES WHERE colleges_id = @College_ID)
			INSERT INTO COLLEGE_NOTES (colleges_id) VALUES (@College_ID)
    END
GO
/****** Object:  Trigger [dbo].[Trigger_DEGREES_insert]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, August 2016 --
CREATE TRIGGER [dbo].[Trigger_DEGREES_insert]
    ON [dbo].[DEGREES]
    FOR INSERT
    AS
    BEGIN
        SET NoCount ON
		-- Ensure that a location to save notes exists for this degree
		DECLARE @Degree_ID INT
		SET @Degree_ID = (SELECT id FROM inserted)
		IF NOT EXISTS (SELECT degrees_id FROM DEGREE_NOTES WHERE degrees_id = @Degree_ID)
			INSERT INTO DEGREE_NOTES (degrees_id) VALUES (@Degree_ID)
    END
GO
/****** Object:  Trigger [dbo].[Trigger_PLAN_ACTIVEPLANS_delete]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_PLAN_ACTIVEPLANS_delete]
    ON [dbo].[PLAN_ACTIVEPLANS]
    FOR DELETE
    AS
    BEGIN
        SET NoCount ON
		BEGIN
			DECLARE @PlansID INT
			SET @PlansID = (SELECT deleted.plans_id
				FROM deleted)

			--Get degree, college, and department associated with plan
			DECLARE @DegreeID INT
			DECLARE @CollegeID INT
			DECLARE @DepartmentID INT
			SET @DegreeID = (SELECT degrees_id
				FROM PLAN_SELECTEDDEGREES
				WHERE plans_id = @PlansID)
			SET @CollegeID = (SELECT colleges_id
				FROM DEGREES
				WHERE id = @DegreeID)
			SET @DepartmentID = (SELECT departments_id
				FROM DEGREES
				WHERE id = @DegreeID)

			--Update degree rankings
			IF EXISTS (SELECT degrees_id
				FROM DEGREE_RANKINGS
				WHERE degrees_id = @DegreeID)
			BEGIN
				DECLARE @DegreeRank INT
				SET @DegreeRank = (SELECT rank
					FROM DEGREE_RANKINGS
					WHERE degrees_id = @DegreeID)
				IF (@DegreeRank <> 0)
				BEGIN
					SET @DegreeRank = @DegreeRank - 1
					UPDATE DEGREE_RANKINGS
						SET rank = @DegreeRank
						WHERE degrees_id = @DegreeID
				END
			END

			--Update college rankings
			IF EXISTS (SELECT colleges_id
				FROM COLLEGE_RANKINGS
				WHERE colleges_id = @CollegeID)
			BEGIN
				DECLARE @CollegeRank INT
				SET @CollegeRank = (SELECT rank
					FROM COLLEGE_RANKINGS
					WHERE colleges_id = @CollegeID)
				IF (@CollegeRank <> 0)
				BEGIN
					SET @CollegeRank = @CollegeRank - 1
					UPDATE COLLEGE_RANKINGS
						SET rank = @CollegeRank
						WHERE colleges_id = @CollegeID
				END
			END

			--Update department rankings
			IF EXISTS (SELECT departments_id
				FROM DEPARTMENT_RANKINGS
				WHERE departments_id = @DepartmentID)
			BEGIN
				DECLARE @DepartmentRank INT
				SET @DepartmentRank = (SELECT rank
					FROM DEPARTMENT_RANKINGS
					WHERE departments_id = @DepartmentID)
				IF (@DepartmentRank <> 0)
				BEGIN
					SET @DepartmentRank = @DepartmentRank - 1
					UPDATE DEPARTMENT_RANKINGS
						SET rank = @DepartmentRank
						WHERE departments_id = @DepartmentID
				END
			END
		END
    END
GO
/****** Object:  Trigger [dbo].[Trigger_PLAN_ACTIVEPLANS_insert]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_PLAN_ACTIVEPLANS_insert]
    ON [dbo].[PLAN_ACTIVEPLANS]
    FOR INSERT
    AS
    BEGIN
        SET NoCount ON
		BEGIN
			DECLARE @PlansID INT
			SET @PlansID = (SELECT
				inserted.plans_id
				FROM inserted)

			--Get degree, college, and department associated with plan
			DECLARE @DegreeID INT
			DECLARE @CollegeID INT
			DECLARE @DepartmentID INT
			SET @DegreeID = (SELECT degrees_id
				FROM PLAN_SELECTEDDEGREES
				WHERE plans_id = @PlansID)
			SET @CollegeID = (SELECT colleges_id
				FROM DEGREES
				WHERE id = @DegreeID)
			SET @DepartmentID = (SELECT departments_id
				FROM DEGREES
				WHERE id = @DegreeID)
			
			--Update degree rankings
			IF EXISTS (SELECT degrees_id
				FROM DEGREE_RANKINGS
				WHERE degrees_id = @DegreeID)
			BEGIN
				DECLARE @DegreeRank INT
				SET @DegreeRank = (SELECT rank
					FROM DEGREE_RANKINGS
					WHERE degrees_id = @DegreeID)
				SET @DegreeRank = @DegreeRank + 1
				UPDATE DEGREE_RANKINGS
					SET rank = @DegreeRank
					WHERE degrees_id = @DegreeID
			END
			ELSE
			BEGIN
				INSERT
					INTO DEGREE_RANKINGS (degrees_id, rank)
					VALUES (@DegreeID, 1)
			END

			--Update college rankings
			IF EXISTS (SELECT colleges_id
				FROM COLLEGE_RANKINGS
				WHERE colleges_id = @CollegeID)
			BEGIN
				DECLARE @CollegeRank INT
				SET @CollegeRank = (SELECT rank
					FROM COLLEGE_RANKINGS
					WHERE colleges_id = @CollegeID)
				SET @CollegeRank = @CollegeRank + 1
				UPDATE COLLEGE_RANKINGS
					SET rank = @CollegeRank
					WHERE colleges_id = @CollegeID
			END
			ELSE
			BEGIN
				INSERT
					INTO COLLEGE_RANKINGS (colleges_id, rank)
					VALUES (@CollegeID, 1)
			END

			--Update department rankings
			IF EXISTS (SELECT departments_id
				FROM DEPARTMENT_RANKINGS
				WHERE departments_id = @DepartmentID)
			BEGIN
				DECLARE @DepartmentRank INT
				SET @DepartmentRank = (SELECT rank
					FROM DEPARTMENT_RANKINGS
					WHERE departments_id = @DepartmentID)
				SET @DepartmentRank = @DepartmentRank + 1
				UPDATE DEPARTMENT_RANKINGS
					SET rank = @DepartmentRank
					WHERE departments_id = @DepartmentID
			END
			ELSE
			BEGIN
				INSERT
					INTO DEPARTMENT_RANKINGS (departments_id, rank)
					VALUES (@DepartmentID, 1)
			END
		END
    END
GO
/****** Object:  Trigger [dbo].[Trigger_PLAN_SELECTEDCOURSES_delete]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_PLAN_SELECTEDCOURSES_delete]
    ON [dbo].[PLAN_SELECTEDCOURSES]
    FOR DELETE
    AS
    BEGIN
        SET NoCount ON
		UPDATE PLANS
			SET time_updated = getdate()
			WHERE id IN (SELECT deleted.plans_id
				FROM deleted)
    END
GO
/****** Object:  Trigger [dbo].[Trigger_PLAN_SELECTEDCOURSES_insert_update]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_PLAN_SELECTEDCOURSES_insert_update]
    ON [dbo].[PLAN_SELECTEDCOURSES]
    FOR INSERT, UPDATE
    AS
    BEGIN
        SET NoCount ON
		UPDATE PLANS
			SET time_updated = getdate()
			WHERE id IN (SELECT inserted.plans_id
				FROM inserted)
    END
GO
/****** Object:  Trigger [dbo].[Trigger_PLAN_SELECTEDDEGREES_insert_update]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thomas Dye, February 2017 --
CREATE TRIGGER [dbo].[Trigger_PLAN_SELECTEDDEGREES_insert_update]
    ON [dbo].[PLAN_SELECTEDDEGREES]
    FOR INSERT, UPDATE
    AS
    BEGIN
        SET NoCount ON
		UPDATE PLANS
			SET time_updated = GETDATE()
			WHERE id IN (SELECT inserted.plans_id
				FROM inserted)
    END
GO
/****** Object:  Trigger [dbo].[Trigger_STUDENTS_COMPLETEDCOURSES_delete]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_STUDENTS_COMPLETEDCOURSES_delete]
    ON [dbo].[STUDENTS_COMPLETEDCOURSES]
    FOR DELETE
    AS
    BEGIN
        SET NoCount ON

		--Do book keeping for COURSE_RANKINGS --
		DECLARE @CourseID INT
		SET @CourseID = (SELECT c.id
			FROM COURSES c
			JOIN deleted d ON c.id = d.courses_id)
		IF EXISTS (SELECT courses_id
			FROM COURSE_RANKINGS
			WHERE courses_id = @CourseID)
		BEGIN
			DECLARE @CourseRank AS INT
			SET @CourseRank = (SELECT rank
				FROM COURSE_RANKINGS
				WHERE courses_id = @CourseID)
			IF (@CourseRank <> 0)
			BEGIN
				SET @CourseRank = @CourseRank - 1
				UPDATE COURSE_RANKINGS
					SET rank = @CourseRank
					WHERE courses_id = @CourseID
			END
		END

		-- Do book keeping for PLAN_SELECTEDCOURSES --
		DECLARE @AccountID INT
		SET @AccountID = (SELECT students_accounts_id FROM deleted)

		-- Create an iterator to update all the student's plans for this completed course --
		DECLARE @PlanCursor CURSOR
		SET @PlanCursor = CURSOR READ_ONLY FOR
			SELECT id FROM PLANS WHERE students_accounts_id = @AccountID

		OPEN @PlanCursor

		-- Variable to store content of current plan being evaluated --
		DECLARE @PlanID INT

		-- Loop through the student's plans until there are none left --
		FETCH NEXT FROM @PlanCursor INTO @PlanID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			UPDATE PLAN_SELECTEDCOURSES SET completedcourses_id = NULL WHERE completedcourses_id IN (SELECT id FROM deleted) AND plans_id = @PlanID
			FETCH NEXT FROM @PlanCursor INTO @PlanID
		END

		CLOSE @PlanCursor
		DEALLOCATE @PlanCursor
    END
GO
/****** Object:  Trigger [dbo].[Trigger_STUDENTS_COMPLETEDCOURSES_insert]    Script Date: 3/4/2017 6:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thomas Dye, September 2016 --
CREATE TRIGGER [dbo].[Trigger_STUDENTS_COMPLETEDCOURSES_insert]
    ON [dbo].[STUDENTS_COMPLETEDCOURSES]
    FOR INSERT
    AS
	BEGIN
		SET NoCount ON
		
		--Do book keeping for COURSE_RANKINGS --
		DECLARE @CourseID INT
		SET @CourseID = (SELECT c.id
			FROM COURSES c
			JOIN inserted i ON c.id = i.courses_id)
		IF EXISTS (SELECT courses_id
			FROM COURSE_RANKINGS
			WHERE courses_id = @CourseID)
		BEGIN
			DECLARE @CourseRank AS INT
			SET @CourseRank = (SELECT rank
				FROM COURSE_RANKINGS
				WHERE courses_id = @CourseID)
			SET @CourseRank = @CourseRank + 1
			UPDATE COURSE_RANKINGS
				SET rank = @CourseRank
				WHERE courses_id = @CourseID
		END
		IF NOT EXISTS (SELECT courses_id
			FROM COURSE_RANKINGS
			WHERE courses_id = @CourseID)
		BEGIN
			INSERT
				INTO COURSE_RANKINGS (courses_id, rank)
				VALUES (@CourseID, 1)
		END

		-- Update completedcourse_id in PLAN_SELECTEDCOURSES for this student's plans --
		DECLARE @AccountID INT
		SET @AccountID = (SELECT students_accounts_id FROM inserted)
		
		-- Create an iterator to update all the student's plans for this completed course --
		DECLARE @PlanCursor CURSOR
		SET @PlanCursor = CURSOR READ_ONLY FOR
			SELECT id FROM PLANS WHERE students_accounts_id = @AccountID

		OPEN @PlanCursor

		-- Variable to store content of current plan being evaluated --
		DECLARE @PlanID INT

		-- Loop through the student's plans until there are none left --
		FETCH NEXT FROM @PlanCursor INTO @PlanID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			EXEC updatePLAN_SELECTEDCOURSES @AccountID, @PlanID
			FETCH NEXT FROM @PlanCursor INTO @PlanID
		END

		CLOSE @PlanCursor
		DEALLOCATE @PlanCursor
	END
GO
